Lita.configure do |config|
  config.handlers.onewheel_xkcd.db_host = 'localhost'
  config.handlers.onewheel_xkcd.db_name = 'lita_xkcd'
  config.handlers.onewheel_xkcd.db_user = 'root'
  config.handlers.onewheel_xkcd.db_pass = ''
  config.handlers.onewheel_xkcd.db_port = 5432
end
